<!-- Footer -->
<footer class="bg-light text-black text-center">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <section class="row justify-content-center">
      <!-- Instagram -->
      <div class="col-4">
            <a class="btn btn-outline-dark" href="#!" role="button">Instagram</a>
      </div>
      
      <!-- Github -->
      <div class="col-4">
            <a class="btn btn-outline-dark" href="#!" role="button">GitHub</a>
      </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Account</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-black">Dashboard</a>
            </li>
            <li>
              <a href="#!" class="text-black">Gallery</a>
            </li>
            <li>
              <a href="#!" class="text-black">Whatever</a>
            </li>
            <li>
              <a href="#!" class="text-black">Whatever</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled ">
            <li>
              <a href="#!" class="text-black">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled ">
            <li>
              <a href="#!" class="text-black">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-black">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-black">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
    <section class="">
        <div class="">
        <a class="justify-content-center " href="#!" role="button">Contact-Us</a>

        <!--  -->
        <a class="justify-content-center" href="#!" role="button">About</a>
        </div>
      <!--  -->
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2022 Copyright:
    <a class="text-black" href="">www.saloon.cn</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->